In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import seaborn as sns
import sklearn

from sklearn import linear_model, preprocessing

In [2]:
#import data
crime = pd.read_excel('data/Table_8_Offenses_Known_to_Law_Enforcement_by_State_by_City_2013.xls')

#Set column names to correct column and drop
crime.columns = crime.iloc[2]
crime.drop(2, inplace = True)

#Drop rows not associated with a city, this catches all footnotes
crime.dropna(subset = ["City"], inplace = True)
lst = crime.columns.get_loc('Arson3')
crime = crime.iloc[:,:lst + 1]

#Combine Legacy and Revised Rape definitions.
crime['Rape\n(legacy\ndefinition)2'].replace(np.nan, 0, inplace = True)
crime['Rape\n(revised\ndefinition)1'].replace(np.nan, 0, inplace = True)
crime['Rape'] = crime['Rape\n(legacy\ndefinition)2'] + crime['Rape\n(revised\ndefinition)1']

#Drop legacy and revised columns
crime.drop(['Rape\n(legacy\ndefinition)2', 'Rape\n(revised\ndefinition)1'], axis = 1, inplace = True)

#Rename verbose columns
crime.columns = crime.columns.str.replace('\n','_')
crime.rename(columns = {'Murder and_nonnegligent_manslaughter':'Murder', 'Larceny-_theft' : 'Larceny_theft',
                       'Arson3': 'Arson'}, inplace = True)

#Reset index
crime.index = range(len(crime))

#Check final results
print(crime.columns)
crime.head(5)

Index(['State', 'City', 'Population', 'Violent_crime', 'Murder', 'Robbery',
       'Aggravated_assault', 'Property_crime', 'Burglary', 'Larceny_theft',
       'Motor_vehicle_theft', 'Arson', 'Rape'],
      dtype='object', name=2)

2,State,City,Population,Violent_crime,Murder,Robbery,Aggravated_assault,Property_crime,Burglary,Larceny_theft,Motor_vehicle_theft,Arson,Rape
0,ALABAMA,Abbeville,2645,11,1,2,7,63,21,39,3,NaN,1
1,NaN,Adamsville,4481,19,1,7,11,321,58,252,11,NaN,0
2,NaN,Addison,744,1,0,0,0,25,6,17,2,NaN,1
3,NaN,Alabaster,31170,44,0,11,31,640,70,544,26,NaN,2
4,NaN,Alexander City,14692,119,2,12,89,661,121,510,30,NaN,16

In [7]:
#Fill in all missing values of state

#Create a pandas series to make things easier
states = crime.State
states = states.fillna('null') #Because for some reason, all NaNs are floats

#Sanity check
#print(states[0], states[1])
#print(type(states[1]))

#Loop through every entry
i = 0

for state in states:
    #print('Testing ', state)
    
    #Condition if not null, set name
    if state != 'null':
        #print('State name is now {}'.format(states[i]))
        #print(i)
        state_name = states[i]
    
    #If null, replace with last state name.
    else:
        #print('{} replaced with {}'.format(states[i], states[i - 1]))
        states[i] = states[i - 1]
    
    #advance index
    i += 1


#Sanity check 2
#print(states[0], states[1])
#print(states.unique())

crime['State'] = states

crime.head()

2,State,City,Population,Violent_crime,Murder,Robbery,Aggravated_assault,Property_crime,Burglary,Larceny_theft,Motor_vehicle_theft,Arson,Rape
0,ALABAMA,Abbeville,2645,11,1,2,7,63,21,39,3,NaN,1
1,ALABAMA,Adamsville,4481,19,1,7,11,321,58,252,11,NaN,0
2,ALABAMA,Addison,744,1,0,0,0,25,6,17,2,NaN,1
3,ALABAMA,Alabaster,31170,44,0,11,31,640,70,544,26,NaN,2
4,ALABAMA,Alexander City,14692,119,2,12,89,661,121,510,30,NaN,16

In [11]:
#Replace all remaining nan with 0
crime = crime.fillna(0)
crime.head()

2,State,City,Population,Violent_crime,Murder,Robbery,Aggravated_assault,Property_crime,Burglary,Larceny_theft,Motor_vehicle_theft,Arson,Rape
0,ALABAMA,Abbeville,2645,11,1,2,7,63,21,39,3,0,1
1,ALABAMA,Adamsville,4481,19,1,7,11,321,58,252,11,0,0
2,ALABAMA,Addison,744,1,0,0,0,25,6,17,2,0,1
3,ALABAMA,Alabaster,31170,44,0,11,31,640,70,544,26,0,2
4,ALABAMA,Alexander City,14692,119,2,12,89,661,121,510,30,0,16